<!-- accessing Elements Home component in Elements module -->
<!-- <app-elements-home></app-elements-home> -->

<!-- accessing Collections Home component in Collections module -->
<!-- <app-collections-home></app-collections-home> -->

<!-- routerLink talks directly to the router of the app and shows content matching the url -->
<!-- it prevents the page from reloading, like with a classic href attribute -->
<div class="ui-container">
  <div class="ui secondary pointing menu">
    <!-- routerLinkActive means that when a router link is visited, we apply the routerLinkActive value ('active' or any css class) -->
    <!-- to the element it is tagged to -->
    <!-- meaning that 'active' is added as a classname to the element -->
    <!-- 'active' is an angular class, but we can add any class here -->
    <a routerLink="/elements" routerLinkActive="active" class="item">Elements</a> 
    <a routerLink="/collections" routerLinkActive="active" class="item">Collections</a>
    <a routerLink="/views" routerLinkActive="active" class="item">Views</a>
    <a routerLink="/mods" routerLinkActive="active" class="item">Mods</a>
  </div>

  <div class="ui segment">
    <!-- router-outlet checks the routes of the component and -->
<!-- shows the content of the matching route -->
    <router-outlet></router-outlet>
  </div>
</div>


